.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* App.css */

body {
    font-family: 'Inter', sans-serif; /* Or any font you're using */
    background-color: #f9f6ef;
    color: #333;
  }
  @keyframes floatUp {
    0% {
      transform: translateY(10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-float-up {
    animation: floatUp 1.2s ease-out forwards;
  }
  .bg-blur {
    filter: blur(6px);
    pointer-events: none; /* Disable interaction with the blurred content */
  }
  